services:
  api:
    build: .
    container_name: devsecops-lab-stg
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/health"]
      interval: 10s
      timeout: 2s
      retries: 10
    restart: unless-stopped
